.puppies {
    backgound-color: white;
    /* white background added because blue background was persistent even after redefined without it */
}

/* .puppieshidden {
  display: none;

}
.puppiesshowing {
}
.kittenshidden{
  display: none;
}
.pandashidden {
  display: none;
}
.sealshidden {
  display: none;
}
.walruseshidden {
  display: none;
} */
.hideAll {
  display: none;
  
}
