.puppies {
    backgound-color: white;
    /* white background added because blue background was persistent even after redefined without it */
}


.puppiesshowing {
  display: none;
}
.kittensshowing{
  display: none;
}
.pandasshowing {
  display: none;
}
.sealsshowing {
  display: none;
}
.walrusesshowing {
  display: none;
}
/* .hideAll {
  display: none;

} */
